@font-face {
    font-family: KG;
    src: url(./global-assets/KGHAPPYSolid.ttf);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background: rgb(44,44,44);
    background: radial-gradient(circle, rgba(44,44,44,1) 0%, rgba(15,15,15,1) 100%);
    width: 100vw;
    min-height: 100vh;
}

/* ----- Nav ----- */

nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    justify-content: end;
    align-items: center;
    gap: 12px;
    z-index: 20000;
}

nav img.small {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

nav img.big {
    height: 50%;
    position: absolute;
    top: 25%;
    left: 10px;
}

@media screen and (max-width: 768px) {
    nav img.small {
        display: block;
    }
    
    nav img.big {
        display: none;
    }

}

nav a {
    color: white;
    text-decoration: none;
    font-family: KG;
    transition: 0.4s;
    font-size: 1.2rem;
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    background-color: white;
    bottom: 0;
    left: -4%;
    width: 100%;
    height: 100%;
    scale: 0 1;
    transform: skewX(0deg);
    transition: 0.4s;
}

nav a:last-child {
    margin-right: 20px;
}

nav a:hover {
    color: rgba(15,15,15,1);
}

nav a:hover::after {
    z-index: -1;
    content: '';
    position: absolute;
    background-color: white;
    bottom: 0;
    left: -4%;
    width: 110%;
    height: 110%;
    scale: 1 1;
    transform: skewX(10deg);
}

.hamburger {
    display: none;
}

/* ----- Home ----- */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 100;
}

#home img {
    width: 50%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: logoFloating 3s infinite ease-in-out;
}

#home #more {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
    font-family: KG;
    text-decoration: none;
    transition: 0.2s;
    animation: upDown 2s infinite ease-in-out;
    cursor: pointer;
}

#home #more:hover {
    scale: 1.1;
    animation-play-state: paused;
}













@keyframes upDown {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes logoFloating {

}




@media screen and (max-width: 768px) {
    .hamburger {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999999;
        display: block;
        height: 60px;
        width: 60px;
    }
    
    .hamburger input {
        height: 100%;
        width: 100%;
        z-index: 999;
        margin: 0;
        opacity: 0;
        position: relative;
    }
    
    .hamburger .bar_1 {
        height: 8px;
        border-radius: 2px;
        width: 100%;
        position: absolute;
        background-color: white;
        top: 5px;
        right: 0;
        transform-origin: center;
    }
    
    .hamburger .bar_2 {
        height: 8px;
        border-radius: 2px;
        width: 75%;
        position: absolute;
        background-color: white;
        top: 25px;
        right: 0;
        transform-origin: center;
    }
    
    .hamburger .bar_3 {
        height: 8px;
        border-radius: 2px;
        width: 50%;
        position: absolute;
        background-color: white;
        bottom: 5px;
        right: 0;
        transform-origin: center;
    }
    
    .hamburger .checked_1 {
        animation: hamburger_1 0.5s forwards ease-in-out;
    }
    
    .hamburger .checked_2 {
        animation: hamburger_2 0.5s forwards ease-in-out;
    }
    
    .hamburger .checked_3 {
        animation: hamburger_3 0.5s forwards ease-in-out;
    }
    
    .hamburger .unchecked_1 {
        animation: hamburger_1_r 0.5s forwards ease-in-out;
    }
    
    .hamburger .unchecked_2 {
        animation: hamburger_2_r 0.5s forwards ease-in-out;
    }
    
    .hamburger .unchecked_3 {
        animation: hamburger_3_r 0.5s forwards ease-in-out;
    }
}





 .mod {
	 position: fixed;
	 top: 0px;
	 left: 0px;
	 width: 100%;
	 height: 100%;
	 perspective: 330px;
     scale: 1.2;
}
 .mod .project-name {
	 position: absolute;
	 width: 420px;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%,-50%);
	 color: white;
	 font-size: 1.75em;
	 text-transform: uppercase;
	 letter-spacing: 0.5em;
	 text-align: center;
	 line-height: 1.5em;
	 font-family: 'Roboto Mono';
	 font-weight: 300;
}
 .mod .cube {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 margin-top: -105px;
	 margin-left: -105px;
	 width: 210px;
	 height: 210px;
	 -webkit-transform-style: preserve-3d;
	 -webkit-transform-origin: 105px 105px;
	 animation: spinCube 9000ms linear infinite;
}
 .mod .cube .faces {
	 position: absolute;
	 top: 0px;
	 left: 0px;
	 width: 210px;
	 height: 210px;
}
 .mod .cube .faces .dot {
	 position: absolute;
	 background: #ffffff;
	 width: 2px;
	 height: 2px;
	 border-radius: 50%;
}
 .mod .cube .faces .p1 {
	 top: -1px;
	 margin-left: -1px;
}
 .mod .cube .faces .p2 {
	 top: -1px;
	 left: 50%;
	 margin-left: - 1px;
}
 .mod .cube .faces .p3 {
	 top: -1px;
	 left: 100%;
	 margin-left: -1px;
}
 .mod .cube .faces .p4 {
	 top: 50%;
	 left: -1px;
	 margin-top: -1px;
}
 .mod .cube .faces .p5 {
	 top: 50%;
	 left: 50%;
	 margin-top: -1px;
	 margin-left: -1px;
}
 .mod .cube .faces .p6 {
	 top: 50%;
	 left: 100%;
	 margin-top: -1px;
	 margin-left: -1px;
}
 .mod .cube .faces .p7 {
	 top: 100%;
	 left: 0%;
	 margin-top: -1px;
	 margin-left: -1px;
}
 .mod .cube .faces .p8 {
	 top: 100%;
	 left: 50%;
	 margin-top: -1px;
	 margin-left: -1px;
}
 .mod .cube .faces .p9 {
	 top: 100%;
	 left: 100%;
	 margin-top: -1px;
	 margin-left: -1px;
}
 .mod .cube .faces .p10 {
	 top: 25%;
	 left: 25%;
	 margin-top: -1px;
	 margin-left: -1px;
}
 .mod .cube .faces .p11 {
	 top: 25%;
	 left: 75%;
	 margin-top: -1px;
	 margin-left: -1px;
}
 .mod .cube .faces .p12 {
	 top: 75%;
	 left: 25%;
	 margin-top: -1px;
	 margin-left: -1px;
}
 .mod .cube .faces .p13 {
	 top: 75%;
	 left: 75%;
	 margin-top: -1px;
	 margin-left: -1px;
}
 .mod .cube .f1 {
	 -webkit-transform: translateZ(-105px);
	 animation-delay: .3s;
}
 .mod .cube .f2 {
	 -webkit-transform: translateZ(-84px);
	 animation-delay: 0.6s;
}
 .mod .cube .f3 {
	 -webkit-transform: translateZ(-63px);
	 animation-delay: 0.9s;
}
 .mod .cube .f4 {
	 -webkit-transform: translateZ(-42px);
	 animation-delay: 1.2s;
}
 .mod .cube .f5 {
	 -webkit-transform: translateZ(-21px);
	 animation-delay: 1.5s;
}
 .mod .cube .f6 {
	 -webkit-transform: translateZ(0px);
	 animation-delay: 1.8s;
}
 .mod .cube .f7 {
	 -webkit-transform: translateZ(21px);
	 animation-delay: 2.1s;
}
 .mod .cube .f8 {
	 -webkit-transform: translateZ(42px);
	 animation-delay: 2.4s;
}
 .mod .cube .f9 {
	 -webkit-transform: translateZ(63px);
	 animation-delay: 2.7s;
}
 .mod .cube .f10 {
	 -webkit-transform: translateZ(84px);
	 animation-delay: 3s;
}
 .mod .cube .f11 {
	 -webkit-transform: translateZ(105px);
	 animation-delay: 3.3s;
}
 @-webkit-keyframes spinCube {
	 0% {
		 -webkit-transform: rotateY(0deg) rotateX(-45deg) rotate(0deg);
	}
	 50% {
		 -webkit-transform: rotateY(180deg) rotateX(135deg) rotate(180deg);
	}
	 100% {
		 -webkit-transform: rotateY(360deg) rotateX(315deg) rotate(360deg);
	}
}
 @-webkit-keyframes spinDots {
	 0% {
		 -webkit-transform: rotateX(0deg) rotateY(45deg);
	}
	 50% {
		 -webkit-transform: rotateX(-180deg) rotateY(-135deg);
	}
	 100% {
		 -webkit-transform: rotateX(-360deg) rotateY(-315deg);
	}
}
 @-webkit-keyframes spinFaces {
	 0% {
		 -webkit-transform: rotateX(0deg);
	}
	 50% {
		 -webkit-transform: rotateX(180deg);
	}
	 100% {
		 -webkit-transform: rotateX(0deg);
	}
}
 